* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Tahoma, verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background: #1F2937;
}
 img {
    max-width: 100%;
 }
  ul {
    list-style-type: none;
  }
h1, h2 {
    margin-bottom: 15px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    height: 60px;
}
.navbar .logo {
    color: #F9FAF8;
    font-size: 24px;
}
.navbar a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
.navbar a:hover {
    color: lightblue;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    margin-left: 20px;
}