* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Tahoma, verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background: #1F2937;
}
 img {
    max-width: 100%;
 }
  ul {
    list-style-type: none;
  }
h1, h2 {
    margin-bottom: 15px;
}


.navbar {
    height: 60px
}
.navbar .logo {
    color: #F9FAF8;
    font-size: 22px;
}
.navbar a {
    color: #e5e7eb;
    font-size: 13px;
    text-decoration: none;
}
.navbar a:hover {
    color: #3882F6;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
    padding: 0 15px;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    margin-left: 20px;
}


.header {
    min-height: 100px;
    background-color:#1F2937;

}
.header h1 {
    font-size: 36px;
    font-weight: bolder;
}
.header img {
    max-width: 400px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 80px;
}
.header .text {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 450px;
}
.header button {
    font-family: 'Roboto', Tahoma, verdana, sans-serif;
    background: #3882F6;
    border: none;
    border-radius: 8px;
    max-width: 100px;
    padding: 6px 20px;
    margin-top: 10px
}
.signupbutton:hover {
    background: #fff;
}


.photogallery {
    background-color: #fff;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.photogallery .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.photogallery .image {
    max-width: 200px;
}
.photogallery h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder; 
}
.gallery img {
    max-width: 200px;
    border: 3px solid #3882F6;
    border-radius: 8px
}
.gallery p {
    color: #1F2937
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937
}
.quotebox {
    display: flex;
    flex-direction: column;
    padding: 100px;
    
}
.quotebox p {
    font-weight: lighter;
    font-style: italic;
}
.quotebox h4 {
    align-self: flex-end;
}

.signupbox {
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.signupbox .signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
    padding: 20px;
    margin: 75px 100px;
    background-color: #3882F6;
    width: 800px;
    height: 120px;
    border-radius: 8px;
    max-width: 950px;

}
.buttoncontainer .button2 {
    background:#3883f6;
    color: #fff;
    padding: 8px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.button2:hover {
    background-color: #fff;
    color: #3882F6;
}


footer {
    background-color: #1F2937;
    padding: 20px;
    text-align: center;
}